{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {},
  "rules": {
    "arrow-parens": "off",
    "valid-jsdoc": "off",
    "eol-last": "off",
    "array-bracket-spacing": "off",
    "no-unused-vars": "off",
    "newline-per-chained-call": "off",
    "strict": "off",
    "no-console": "warn",
    "no-else-return": "off",
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline"
      }
    ]
  },
  "ignorePatterns": ["types/*"]
}